* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.overlay {
 position: absolute;
 inset: 0;
 width: 100%;
 height: 100%;
 background-color: rgba(0, 0, 0, 0.6);
 z-index: 0;
}

.up-overlay {
 position: relative;
}

.header {
 margin-top: 17px;
 display: grid;
 grid-template-columns: 1fr min-content 1fr;
 align-items: center;
 justify-content: center;
 justify-items: center;
 padding: 83px 0px 91px 0;
}

.active {
 text-decoration: none;
}

.header__menu {
 text-underline-offset: 4px;
}

.header__link:active {
 text-decoration: none;
}

ul > li:first-child {
 list-style-type: none;
}

.header__links-list-item-left {
 margin-left: 32px;
 padding-left: 12px;
}

.header__links-list-item-center {
 margin-left: 2px;
 padding: 0 3px 0 3px;
}

.header__links-list-item-right {
 margin-right: 4px;
 padding-left: 5px;
}

.header__menu .header__links-list {
 list-style-type: circle;
 justify-items: center;
 align-self: stretch;
 display: flex;
 gap: 27px;
 font-weight: 400;
 font-size: 18px;
 line-height: 100%;
 margin: 0px 26px 7px 0px;
}

.header__logo img {
 width: 147px;
 height: 105px;
}

.address {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 font-style: normal;
 font-weight: 400;
 font-size: 18px;
 line-height: 24.3px;
 text-underline-offset: 3px;
 text-decoration-skip-ink: none;
 max-width: 240px;
}
.header__address {
 margin: 0 0 4px 104px;
}
.cover {
 width: 1100px;
 height: 757px;
 angle: 0 deg;
 opacity: 1;
 position: relative;
 background-image: url(../images/cover.jpg);
 background-size: cover;
 color: white;
 text-transform: uppercase;
 z-index: 0;
 background-repeat: no-repeat;
 background-position: center;
}
.overlay {
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 position: absolute;
 background-color: rgba(0, 0, 0, 0.6);
 width: 100%;
 height: 100%;
 z-index: -1;
}

.cover__title {
 width: 1000px;
 height: 385px;
 opacity: 1;
 word-spacing: normal; /* обычное расстояние между словами */
 text-transform: uppercase; /* все буквы будут большими */
 width: 637px; /* максимальная ширина текста */
 font-weight: 400; /* обычный вес шрифта */
 font-size: 22px; /* размер шрифта */
 letter-spacing: 90%; /* увеличенный промежуток между буквами */
 color: #ffffff; /* белый цвет текста */
 font-family: Raleway;
 position: absolute;
}
.aligned-text_left {
 position: absolute;
 text-transform: uppercase; /* текст в верхнем регистре */ /* абсолютное размещение текста */
 width: 286px; /* ограниченная ширина текста */
 height: 115px; /* фиксированная высота текста */
 top: 167px; /* верхнее положение */
 left: 50px; /* левое положение */
 font-weight: 700; /* жирный шрифт */
 font-size: 100px; /* крупный размер шрифта */
 letter-spacing: 30px; /* значительное расстояние между буквами */
 font-family: Raleway;
 line-height: 114.99999999999999%;
 text-transform: uppercase;
 z-index: 1;
}
.aligned-text_center {
 text-transform: uppercase; /*text-transform: uppercase;/*весь текст преобразуется в верхний регистр (все буквы большие)*/
 position: absolute; /* Позиционируем текст абсолютно относительно родителя */
 width: 339px;
 height: 115px;
 opacity: 1;
 top: 301px;
 left: 381px;
 font-weight: 700;
 font-style: Bold;
 font-size: 100px;
 line-height: 114.99999999999999%;
 letter-spacing: 30%;
 text-align: center;
 text-transform: uppercase;
 letter-spacing: 30px;
 z-index: 1;
}
.aligned-text_right {
 text-transform: uppercase; /*text-transform: uppercase;/*весь текст преобразуется в верхний регистр (все буквы большие)*/
 position: absolute; /* Позиционируем текст абсолютно относительно родителя */
 width: 387px;
 height: 115px;
 opacity: 1;
 top: 437px;
 left: 663px;
 font-weight: 700;
 font-style: Bold;
 font-size: 100px;
 line-height: 114.99999999999999%;
 letter-spacing: 30%;
 text-transform: uppercase;
 letter-spacing: 30px;
 z-index: 1;
}
.cover_description {
 width: 1000px;
 height: 51px;
 angle: 0 deg;
 opacity: 1;
 top: 656px;
 left: 50px;
 border-width: 1px;
 display: flex;
 align-items: baseline;
 justify-content: space-evenly;
 gap: 99px;
 position: absolute;
 z-index: 1;
}
.cover_text {
 font-size: 22px;
 font-weight: 400;
 line-height: 28px;
 word-spacing: 18px;
}
.button {
 margin-left: 5px;
 width: 256px;
 height: 51px;
 border: 1px solid #ffffff;
 background-color: transparent;
 font-family: "Raleway", sans-serif;
 color: #ffffff;
 font-size: 22px;
 line-height: 51px;
 font-weight: 500;
 text-align: center;
}
.lots {
 width: 1052px;
 height: 723px;
 angle: 0 deg;
 opacity: 1;
 top: 1230px;
 left: 24px;
 box-sizing: border-box;
}
.lots__heading {
 padding-top: 7px;
 margin: 181px 749px 27px 64px;
 width: 121px;
 height: 47px;
 angle: 0 deg;
 opacity: 1;
 left: 40px;
 font-family: Raleway;
 font-weight: 700;
 font-style: Bold;
 font-size: 40px;
 leading-trim: NONE;
 line-height: 100%;
 letter-spacing: 0%;
 text-transform: uppercase;
}
.container_lots {
 width: 1100px;
 height: 597px;
 display: flex;
 justify-content: space-evenly;
 list-style-type: none;
 padding: 0;
 margin: auto;
}
.card_lots {
 max-width: 334px; /* Максимальная ширина карточки */
 min-height: 596px; /* Минимальная высота карточки */
 flex-grow: 100%; /* Карточка занимает доступное пространство */
}

/* Основная структура карточки */
.card {
 position: relative; /* Позиционирование относительно родительского элемента */
 height: 100%; /* Высота карточки равна высоте родителя */
 display: flex; /* Использование Flexbox для размещения элементов */
 flex-direction: column;
 gap: 25px; /* Элементы располагаются вертикально */
 z-index: 2; /* Уровень наложения слоев */
 padding: 50px 40px 50px; /* Внутренние отступы сверху, слева-справа, снизу */
 justify-content: space-between; /* Равномерное распределение пространства между элементами */
 background-size: cover; /* Фоновое изображение масштабируется, покрывая всю область */
 background-repeat: no-repeat; /* Изображение не повторяется */
 background-position: center; /* Изображение центрируется */
}

/* Различные фоновые изображения для разных типов карточек */
.card_about_cinema {
 /* Картинка для кино-карточки */
 background-image: url(../images/card-lot-01.jpg);
}

.card_about_book {
 /* Картинка для книжных карточек */
 background-image: url(../images/card-lot-02.jpg);
}

.card_about_picture {
 /* Картинка для художественных карточек */
 background-image: url(../images/card-lot-03.jpg);
}

/* Стили заголовка карточки */
.card_title {
 color: white; /* Белый цвет текста */
 font-size: 22px; /* Размер шрифта */
 font-weight: 700; /* Жирный шрифт */
 line-height: 120%; /* Межстрочный интервал */
 text-decoration-line: underline; /* Подчеркнутый текст */
 text-transform: uppercase; /* Все буквы заглавные */
 position: relative;
 z-index: 2;
}

/* Основной текст внутри карточки */
.text_on_card {
 color: white; /* Цвет текста белый */
 font-size: 20px; /* Размер шрифта */
 font-style: normal; /* Обычный стиль шрифта */
 font-weight: 400; /* Нормальное начертание шрифта */
 line-height: 120%; /* Интервал между строками */
 position: relative;
 z-index: 2;
}

/* Темный полупрозрачный оверлей поверх фона */
.overlay {
 position: absolute; /* Абсолютное позиционирование */
 top: 0; /* Верхняя позиция */
 left: 0; /* Левая позиция */
 width: 100%; /* Ширина равняется ширине родительского блока */
 height: 100%; /* Высота равняется высоте родительского блока */
 background-color: rgba(0, 0, 0, 0.5); /* Черный цвет с прозрачностью 50% */
 pointer-events: none;
 z-index: 1; /* Невозможно взаимодействовать с данным слоем */
}

/* Кнопка "Подробнее" внизу карточки */
.view_more {
 display: block; /* Блоковая конструкция */
 text-underline-offset: 4.5px; /* Отступ подчеркивания */ /* Внешний отступ сверху */
 color: black; /* Цвет текста черный */
 width: 192px;
 height: 25px;
 opacity: 1;
 border-width: 1px;
 font-size: 20px;
 line-height: 100%;
 margin-top: 32px;
 margin-left: 65px;
 text-decoration-thickness: 1px;
}
.about {
 width: 1052px;
 height: 595px;
 angle: 0 deg;
 opacity: 1;
 top: 2073px;
 left: 24px;
 margin: 155px 50px 146px 50px;
}

.about__column {
 display: grid;
 grid-template-columns: 334px 1fr;
}
.contacts-element {
 width: 240px;
 padding-right: 3px;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 font-style: normal;
 color: #000;
 font-family: Raleway, sans-serif;
 font-size: 18px;
 font-style: normal;
 font-weight: 400;
 line-height: 23.6px;
}

.about__logo {
 display: flex;
 width: 240px;
 height: 240px;
 border-radius: 120px;
 background-color: #000;
 justify-self: center;
 margin-right: 52px;
}

.about__logo-image {
 display: grid;
 width: 148px;
 height: 114px;
 align-self: center;
 margin-left: 46px;
}

.about__title-and-text-wrapper {
 margin-top: 101px;
 display: grid;
 gap: 20px;
}

.about__title {
 margin-right: 28px;
 color: #000;
 font-family: Raleway, sans-serif;
 font-size: 40px;
 font-style: normal;
 max-width: 700;
 line-height: normal;
 text-transform: uppercase;
 margin-bottom: 70px;
 width: 291;
 height: 47px;
 top: 3px;
 angle: 0 deg;
 opacity: 1;
}

.about__text__top {
 margin-right: 28px;
 color: #000;
 font-family: Raleway, sans-serif;
 font-size: 20px;
 font-style: normal;
 margin-top: 10px;
 line-height: 24px;
 gap: 5px;
}

.about__text {
 margin-right: 28px;
 color: #000;
 font-family: Raleway, sans-serif;
 font-size: 20px;
 font-style: normal;
 margin-top: 5px;
 line-height: 24px;
}

.footer {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr;
}

.footer__address {
 margin: 0 0 82px 50px;
}

.footer_menu {
 justify-items: center;
 align-self: stretch;
 font-weight: 400;
 font-size: 18px;
 line-height: 100%;
 list-style: none;
 text-underline-offset: 4px;
 margin-top: 1px;
}

.footer_menu:active {
 text-decoration: none;
}

.footer_links-list-item-center {
 margin-top: 4px;
}

.footer_links-list-item-bottom {
 margin-top: 3px;
}

.social {
 margin-left: 47px;
}

.you_tube img {
 margin-left: 30px;
}

.social_link {
 width: 48px;
 height: 48px;
 margin-left: 22px;
}
