* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

.header {
  margin: 92px 50px 96px 50px;
  display: grid;
  grid-template-columns: 3.9fr 0.9fr 3.9fr;
}

.header__links-list {
  display: flex;
  align-items: center;
}

.header__links-list-main {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__links-list-item,
.header__links-list-item_no-bullit {
  display: list-item;
  list-style-type: none;
}

.header__link_active,
.header__link {
  text-decoration: none;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__link {
  display: list-item;
  list-style-type: circle;
  border-bottom: 1px solid black;
}

.header__logo {
  display: grid;
  align-content: start;
  width: 138px;
  height: 105px;
}

.header__logo-image {
  display: block;
  align-content: start;
}

.header__address {
  display: flex;
  align-items: center;
  justify-content: end;
}

.contacts-element {
  width: 236px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: normal;
  color: #000;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.6px;
}

.mail-address,
.phone-address {
  text-decoration: none;
  display: flex;
  align-self: flex-start;
  border-bottom: -0.5px solid black;
}

.city-address-second,
.city-address-first {
  display: flex;
  align-self: flex-start;
}
.cover {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  border: none;
  position: relative;
  width: 1100px;
height: 757px;
angle: 0 deg;
opacity: 1;

}

h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;

  color: white;
  letter-spacing: 30px;
  z-index: 1;
}

.aligned-text_left {
  display: flex;
  justify-content: flex-start;
  margin: 165px 764px 17px 50px;
}

.aligned-text_center {
  display: flex;
  justify-content: center;
  margin: 0px 350px 18px 380px;
}

.aligned-text_right {
  display: flex;
  justify-content: flex-end;
  margin: 0px 20px 97px 616px;
}

.cover__description {
  display: flex;
  justify-content: space-around;
  margin-right: 49px;
  
}

.cover__description-text {
  display: flex;
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin: 20px 0px 42px 49px;
  z-index: 1;
}

.bet-button {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 100%;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  border: 1px solid currentColor;
  width: 256px;
  height: 51px;
  margin: 7px 0 50px 103px;
  z-index: 1;
}
.lots__heading {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  padding-top: 4px;
  margin: 180px 0 0 64px;
}

.lots__card-lis {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 31px 24px 0 24px;
}

.lots__card-list-item {
  list-style-type: none;
}

.card_type {
display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  min-height: 596px;
  background-size: cover;
  background-position: center;
  position: relative;
  justify-content: space-between; /* Выравниваем карточки по противоположным сторонам */
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  display: flex;
  margin: 32px 0 0 64px;
  text-underline-offset: 5px;
}

.card-link {
  text-decoration: none;
}

.card__title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
    color: #fff;
  z-index: 1;
}

.card__title_movie {
  margin: 48px 0 0 40px;
  text-underline-offset: 3px;
  
}

.card__text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  align-items: flex-end;
   color: #fff;
  z-index: 1;
}


.card__title_book {
  padding: 48px 14px 0 40px;
  overflow-wrap: break-word;
  text-underline-offset: 2px;
}

.card__text_book {
  padding: 0 43px 14px 40px;
}

.card__title_picture {
  padding: 48px 21px 0 40px;
  text-underline-offset: 2px;
}
.text_movie {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  margin: 230px 38px 0 40px;
  overflow-wrap: break-word;
}

.card__text_picture {
  padding: 84px 42px 0 40px;
}

.about {
  display: grid;
  grid-template-columns: 334px 718px;
  margin: 50px 24px 180px 24px;
}

.circle {
  display: grid;
  place-items: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 106px 46px 46px 47px;
  padding: 44px 46px 37px 47px;
}

.about__title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 212px 0 0 25px;
}

.about__text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text_question {
  margin: 102px 4px 0 25px;
  padding-top: 1px;
}

.about__text_statement {
  margin: 24px 3px 0 25px;
  overflow-wrap: break-word;
}

.about {
  display: grid;
  grid-template-columns: 334px 718px;
  margin: 50px 24px 180px 24px;
}

.circle {
  display: grid;
  place-items: center;
  background-color: black;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  margin: 106px 46px 46px 47px;
  padding: 44px 46px 37px 47px;
}

.about__title {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  text-transform: uppercase;
  margin: 212px 0 0 25px;
}

.about__text {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text_question {
  margin: 102px 4px 0 25px;
  padding-top: 1px;
}

.about__text_statement {
  margin: 24px 3px 0 25px;
  overflow-wrap: break-word;
}
footer {
  margin: 0px 50px 90px 50px;
  display: flex;
  justify-content: space-between;
}

.footer__menu {
  display: grid;
  align-content: start;
  justify-items: center;
}

.footer__menu-list {
  list-style-type: none;
}

.footer__menu-link {
  display: grid;
  align-self: center;
  color: #000;
  text-align: center;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-skip-ink: none;
}

.footer__menu-link_active {
  text-decoration: none;
  border-bottom: none;
}

.footer__social-list {
  list-style-type: none;
  display: flex;
  gap: 48px;
}

.footer__social-list-item-logo{
  width: 48px;
}